DOGEOS_RPC_URL=https://rpc.testnet.dogeos.com
DOGEOS_BLOCKSCOUT_URL=https://blockscout.testnet.dogeos.com
DOGEOS_BLOCKSCOUT_API_KEY=optional_blockscout_api_key_if_required
DEPLOYER_PRIVATE_KEY=replace_with_local_testnet_key_never_commit_real_values
DEPLOYER_ADDRESS=replace_with_deployer_address
ROUTER_OWNER_ADDRESS=replace_with_router_owner_address_or_leave_unset_for_deployer
WDOGE_ADDRESS=0xF6BDB158A5ddF77F1B83bC9074F6a472c58D78aE
USDC_ADDRESS=0xD19d2Ffb1c284668b7AFe72cddae1BAF3Bc03925
DOGEOS_MUCHFI_V2_FACTORY_ADDRESS=0x7864071B532894216e3C045a74814EafEB92ae20
DOGEOS_MUCHFI_V2_USDC_WDOGE_PAIR_ADDRESS=0xD826428b6a0ead35Dcb31A75DB61be94f2ee87F4
DOGEOS_SWAP_ROUTER_ADDRESS=replace_after_deployment
DOGEOS_V2_PAIR_ADAPTER_ADDRESS=replace_after_adapter_deployment
DOGEOS_FAUCET_ADDRESSES=
DOGEOS_FAUCET_TARGET_DOGE=5
DOGEOS_FAUCET_TARGET_MODE=absolute
DOGEOS_FAUCET_TOP_UP_DOGE=
DOGEOS_FAUCET_MIN_INTERVAL_HOURS=24
DOGEOS_FAUCET_STATE_PATH=deployments/dogeos-chikyu/faucet-funding-state.json
